{% extends 'base.html' %}
{% load static %}

{% block title %}
    <link rel = "stylesheet" href = "{% static 'css\voted.css' %}">
    <title>Voting Successful - Online Voting System</title>
{% endblock title %}

{% block nav %}
    {% if user.is_superuser %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'result' %}">View Result</a>
            </li>
            {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Make Your Vote</a>
            </li> {% endcomment %}
        </ul>
    {% endif %}
{% endblock nav %}

{% block content %}
    <div class="container text-center">
        <br /><br />
        <h1 class="text-success">Voting Casted Successfully!</h1>
        <h3>Thanks for Voting</h3>
    </div>    
{% endblock content %}